

.mainInicio {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px - 70px);
    width: 100vw;
}

.contenedorImg {
    padding-top: 100px;
    min-height: calc(100vh - 70px - 70px);
    width: 10px;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s ease;
    filter: grayscale(70%);
    cursor: pointer;
    overflow: hidden;
}
.contenedorImg:hover {
    width: 50vw;
    filter: contrast(120%);
}



@media (max-width: 700px){
    .mainInicio{
        flex-direction: column;
        height: 0;
    }
    .contenedorImg {
        min-height: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease;
        padding: 10px;
    }
    .contenedorImg:hover {
        min-height: 50vh;
        width: 100%;
        filter: contrast(120%);
    }
    
}